{% extends "CaravaneLunchBundle::map.html.twig" %}

{% block headerLeft %}
<div class="btn-toolbar" id="lunchesListTools">
<div class="btn-group" id="lunchesListFilterBy">
	<a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" > Filter by <span class="caret"></span> </a>
	<ul class="dropdown-menu" >
	<li>
			<a data-filterby="" class="active">No filter</a>
		</li>
		<li>
			<a data-filterby="meat" >Meat</a>
		</li>
		<li>
			<a data-filterby="fish">Fish</a>
		</li>
		<li>
			<a data-filterby="vegetarian">Vegetarian</a>
		</li>
		
	</ul>
</div>

<div class="btn-group" id="lunchesListSortBy">
	<a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" > Sort by <span class="caret"></span> </a>
	<ul class="dropdown-menu">
		<li class="active">
			<a data-sortby="distance">Distance</a>
		</li>
		<li>
			<a data-sortby="price">Price</a>
		</li>
		<li>
			<a data-sortby="category">Category</a>
		</li>
	</ul>
</div>


<div class="btn-group" id="lunchesListDate">
 <a class="btn">Today</a>
	<a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown" ><span class="caret"></span></a>
	<ul class="dropdown-menu">
		<li class="active">
			<a data-sortby="distance">Today</a>
		</li>
		<li>
			<a data-sortby="distance">Tomorrow</a>
		</li>
		<li>
			<a data-sortby="price">Wednesday</a>
		</li>
		<li>
			<a data-sortby="category">Thursday</a>
		</li>
	</ul>
</div>

</div>
{% endblock %}
{% block body %}
<div class="row-fluid">
	<div class="span3" id="lunchesListContainer">

	</div>
	<div class="span9" id="lunchesMapContainer">
		{{ google_map_container(map) }}
	</div>
</div>
{% endblock %}
{% block javascripts %}
		{% include "::javascripts.html.twig" %}
		{{ google_map_js(map) }}
    <script type="text/javascript">
    	
    	lunchMap.init();
	</script>
{% endblock %}
