{#% extends "SocialShowerGalleryBundle::default.html.twig" %}


 {% block body %#}







        {{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();', 'culture': facebookLocale}) }}



    {% if error %}
        <div class="notice error">
            <span class="icon medium" data-icon="X" style="display: inline-block;"></span>
            {{ error|trans({}, 'FOSUserBundle') }}
            <a class="icon close" data-icon="x" href="#close" style="display: inline-block;"></a>
        </div>
    {% endif %}
    <div id="social_login">
{% if app.user.getFacebookId %}
    <a class="btn btn-large btn-primary btn-block" href="{{path('fos_user_security_logout')}}">Logout</a>
{% else %}

            <button class="btn btn-large btn-primary btn-block" onclick="fb_login();">Login with facebook</button>
        {% endif %}
    </div>





