@import "variables";

html, body { height: 100%; }
body {
  .navbar-fixed-top,.navbar-fixed-bottom {
    .navbar-inner {
      padding:0 10px;
    }
  }
}
form#mainSearch {
  .controls {
    .input-append {
      button {
        margin:0;
       }
    }
  }
} 

#body {
  margin-top:40px;
  margin-bottom:40px;
}




#footer {
  #loginForm {
    label {
      color:#ffffff;
    }
    button,input {
      margin:0;
    }
    input.input-small {
      padding:2px;
    }
  }
}


#header {
  #lunchesListTools {
      margin-top:0;
      margin-bottom:0;
  }
}

body.map {
  #map {
    height:100%;
    width:100%;
  }
}


body.layout {
  /*background-image:url(/images/backgrounds/1.jpg);*/
 background:#000000;
  
  #content {
    
    background:#ededed;
   /* padding:40px 0; */
    height:100%;
    .inner {
      margin-top:50px;
    }
  }
}


#user_restaurant_edit {
  #map {
    height:300px;
  }
}


#lunchesListContainer {
  ul {
    list-style:none;
  }
  li {
    background-repeat:no-repeat;
    padding-left:40px;
    cursor:pointer;
	.lunch {
		font-weight:bold;
	}
  }
  li.meat {
    background:url(/assets/icons/restaurant_meat.png);
    background-repeat:no-repeat;
  }
   li.fish {
    background:url(/assets/icons/restaurant_fish.png);
    background-repeat:no-repeat;
  }
   li.vegetarian {
    background:url(/assets/icons/restaurant_vegetarian.png);
    background-repeat:no-repeat;
  }
}
