{% extends "CaravaneUserBundle::layout.html.twig" %}

	{% block main %}<h1>Restaurant creation</h1>

<a class="btn btn">Fill from Google</a>
<a class="btn btn">Fill from Facebook</a>
<form id="user_restaurant_edit" action="{{ path('user_restaurant_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('user_restaurant') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}

